@model PaginationViewModel<Learning>

@{
    ViewData["Title"] = "Aprendizado";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <input id="checkCentral" type="checkbox" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Circle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().OportunityLearning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().LearningAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().MeasurementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().MeasurementForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Status)
            </th>
            <th>
                <button type="button" id="botaoDeletar" style="border-color:transparent; background-color:transparent; display:none">
                    <i class="fas fa-trash" style="color:red"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input name="checkSelect" type="checkbox" value="@item.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Circle.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theme.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeopleLearning
                .Where(x => x.Type == TypePerson.Mentorado && x.LearningId == item.Id)
                .FirstOrDefault().Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeopleLearning
                .Where(x => x.Type == TypePerson.Mentor && x.LearningId == item.Id)
                .FirstOrDefault().Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OportunityLearning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearningAction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-primary" style="font-size:x-small; margin:2px" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" style="font-size:x-small; margin:2px" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" style="font-size:x-small; margin:2px" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pagination" />