@model IEnumerable<DayTime>

@{
    ViewData["Title"] = "HorasDia";
}

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ActualStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot style="display: table-header-group">
        <tr>
            <th>
                <input id="checkCentral" type="checkbox" />
            </th>
            <th>
                <button type="button" id="botaoDeletar" style="border-color:transparent; background-color:transparent; display:none">
                    <i class="fas fa-trash" style="color:red"></i>
                </button>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input name="checkSelect" type="checkbox" value="@item.Id" />
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualStatus.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivered)
                </td>
                <td>
                    <a class="btn btn-primary" style="font-size:x-small; margin:2px" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" style="font-size:x-small; margin:2px" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" style="font-size:x-small; margin:2px" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<partial name="_Pagination" />*@