@model IEnumerable<Feedback>

@{
    ViewData["Title"] = "Feedbacks";
}

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OportunityLearning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot style="display: table-header-group">
        <tr>
            <th>
                <input id="checkCentral" type="checkbox" />
            </th>
            <th>
                <button type="button" id="botaoDeletar" style="border-color:transparent; background-color:transparent; display:none">
                    <i class="fas fa-trash" style="color:red"></i>
                </button>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input name="checkSelect" type="checkbox" value="@item.Id" />
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Circle.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theme.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonFeedbacks
                .Where(x => x.Type == TypePerson.Mentorado && x.FeedbackId == item.Id)
                .FirstOrDefault().Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonFeedbacks
                .Where(x => x.Type == TypePerson.Mentor && x.FeedbackId == item.Id)
                .FirstOrDefault().Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OportunityLearning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a class="btn btn-primary" style="font-size:x-small; margin:2px" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" style="font-size:x-small; margin:2px" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" style="font-size:x-small; margin:2px" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<partial name="_Pagination" />*@